html,body{
    overflow-x: hidden;
}
.bassText {
    color: transparent;
    text-align: center;
    font-size: 100px;
    -webkit-text-stroke:2px #ffffff; /* Outline color and width */
    text-stroke: 1px #ffffff; /* Outline color and width */
}

.headSet{
    transform: rotate(11.8deg)
}


/*@media (max-width: 920px) {*/
/*    #summerSaleSection{*/
/*        top: 1312px;*/
/*    }*/
/*}*/